@import "tailwindcss";

:root {
  --color-background: #f8fafc;
  --color-muted: #64748b;
  --color-text: #0f172a;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

html.dark {
  --color-background: #000;
  --color-muted: #94a3b8;
  --color-text: #e6eef8;
}
